*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    font-family: Inter;
}
@font-face{
    font-family: Inter;
    src:url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf');
}
.nav{
    display:flex;
    justify-content: flex-end;
    width: 85%;
}
.w h2{
    padding-top: 10px;
    margin-left: 200px;
    margin-bottom: 0;
    
}
.nav a{
    text-align: end;
    margin-right: 10px;
    color: black;
    text-decoration: none;
    

}
.main{
    padding: 0%;
    margin: 0%;
    display:flex;
    justify-content: center;
    width:100vw;
    
}
.container{
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}
.cont0{
    height: 70%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    'p p h'
    'f e h';
    

}
.picture{
    grid-area: p;

}
.future{
    display: flex;
    color:black;
    font-weight: 800;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    grid-area: f;
}
.evolution{
    display: grid;
    grid-area: e;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
   'd'
   'b' ;

}
.dive{
    display: flex;
    flex-direction: column;
    font-size: 15px;  
    grid-area: d;
}
.button{
    grid-area: b;
}
button{
    background-color: rgb(243, 31, 31);
    padding: 10px;
    padding-left: 10px;
    color: white;
    border: black;
    
}
.hydrogen{
    background-color: rgb(5, 5, 49);
    color:white;
    grid-area: h;
    padding: 15px;
     
}
.down{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    're la ga';
}
.re{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
  
}
.retro{
    grid-area: re;
    display: flex;
    justify-content: space-between;


}
.laptops{
    grid-area:la ;
    display: flex;
    justify-content: space-between;



}
.gaming{
    grid-area: ga;
    display: flex;
    justify-content: space-between;

}
img{
    /* align-items: center; */
    padding: 0px;
    margin: 0px;

}
.new h1{
    color: yellow;
}
.re h1{
    color: lightgray;
}
.la h1{
    color: lightgray;
}
.ga h1{
    color: lightgray;
}